<div class="hero__social">
    <a href="{{store.facebook}}"><i class="fa fa-facebook"></i></a>
    <a href="{{store.twitter}}"><i class="fa fa-twitter"></i></a>
    <a href="{{section.settings.pinterest}}"><i class="fa fa-pinterest"></i></a>
    <a href="{{store.instagram}}"><i class="fa fa-instagram"></i></a>
</div>