<forgot-password>
  <main id="qodef-page-content" class="qodef-grid qodef-layout--template " role="main">
    <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
      <form class="woocommerce-ResetPassword lost_reset_password" id="password-form" style="width: 60%; margin: 0 auto;">
      <h2>RESET PASSWORD</h2>
      <p>Lost your password? <br> Please enter your username or email address. You will receive a link to create a new password via email.</p>
      <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
      <label for="user_login">Email</label>
      <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="user_login" id="user_login" autocomplete="username" />
      </p>
      <p class="woocommerce-form-row form-row">
      <button type="submit" id="forgotSubmit" class="woocommerce-Button button">Reset password
        {{{component "loader"}}}
      </button>
      </p>
      <p class="qodef-m-text" id="feedback" style="margin-top: 15px; border: 2px solid aqua; padding: 5px;width: max-content; text-transform: uppercase;"></p>
      </form>
    </div>
  </main>
</forgot-password>

<script type="text/javascript" src="{{asset_url}}/js/auth/forgot-password.js"></script>
