<div id="container">
    <div class="col-lg-12">
        <div class="row justify-content-center">
            <div class="py-5 px-5">
                <span class="qodef-404-subtitle">Not Found</span>
                <h2 class="qodef-404-title">404 Error page</h2>
                <p class="qodef-404-text">
                    The page you are looking for doesn't exist. It may have been moved or removed altogether. </p>
                <p>Please try searching for some other page, or return to the website's homepage to find what you're
                    looking for.
                </p>
                <div class="qodef-404-button">
                    <a class="text-primary" href="/" target="_self">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>