<div id="qodef-page-outer">
  <reset-form>
    <main id="qodef-page-content" class="qodef-grid qodef-layout--template " role="main">
    <div class="qodef-grid-inner clear">
    <div class="qodef-grid-item qodef-page-content-section qodef-col--12">
    <div class="woocommerce"><div class="woocommerce-notices-wrapper"></div>
    <form class="woocommerce-form" id="reset-form" style="width: 60%; margin: 0 auto;">
    <h2>Reset Password</h2>
    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
    <label for="password">Password&nbsp;<span class="required">*</span></label>
    <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="passwordd" autocomplete="current-password" />
    </p>
    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
    <label for="password">Confirm Password&nbsp;<span class="required">*</span></label>
    <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="confirm-password" id="confirm-passwordd" />
    </p>
    <p class="form-row">
    <button type="submit" class="woocommerce-button button" id="submitt" data-params-id="{{ params.id}}" data-params-token="{{ params.token}}">Reset Password
      {{{component "loader"}}}
    </button>
    </p>
    <p class="woocommerce-LostPassword lost_password">
    </p>
    <p class="qodef-m-text" id="feedback" style="margin-top: 15px; border: 2px solid aqua; padding: 5px; width: 100%; text-transform: uppercase; word-wrap: break-word; text-align: center;"></p>
    </form>
    </div>
    </div>
    </div>
    </main>
  </reset-form>
</div>

<script type="text/javascript" src="{{asset_url}}/js/auth/reset-password.js"></script>
